# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Virtual environment
venv/

# Environment variables
.env

# VSCode settings
.vscode/

# DB / OS junk
*.sqlite3
*.log
.DS_Store
*.session.sql
buildOrder/

# Tailwind build output
app/static/dist/output.css
app/static/dist/output.css.map

# Node
node_modules/
npm-debug.log*
package-lock.json