# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# VSCode settings
.vscode/

# DB / OS junk
*.sqlite3
*.log
.DS_Store
*.session.sql
buildOrder/
