<!DOCTYPE html>
<html>
<head><title>Add Game</title></head>
<body>
    <h2>Add NFL Game</h2>
    <form method="POST">
        Week: <input type="number" name="week"><br>
        Home Team: <input type="text" name="home_team"><br>
        Away Team: <input type="text" name="away_team"><br>
        Spread: <input type="number" step="0.5" name="spread"><br>
        Start Time (UTC): <input type="datetime-local" name="start_time"><br>
        <input type="submit" value="Add Game">
    </form>
</body>
</html>
